@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 16px;
	color: #888;
	background: #F1F1F1;
}

.btn:focus {
	outline: 0;
}

/*--- NAV ---*/

.topbar {
	background: #2B3643;
	height: 60px;
	color: #CCC;
	font-weight: 400;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	padding: 0 20px;
	line-height: 60px;
}

.topbar a, .topbar a:hover {
	color: #CCC;
	text-decoration: underline;
}

.topbar h1 {
	margin: 0;
	font-size: 20px;
	color: #CCC;
}

.topbar h1 a {
	float: left;
	margin-left: 0;
	position: relative;
	display: inline-block;
	margin: 15px 0;
	outline: none;
	text-decoration: none;
	color: #CCC;
}

.topbar .animation a:hover,
.topbar .animation a:focus {
	outline: none;
	text-decoration: none;
	color: #CCC;
}

.animation a::before,
.animation a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.animation a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.animation a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.animation a:hover::before,
.animation a:hover::after,
.animation a:focus::before,
.animation a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.topbar a {
	float: right;
	margin-left: 20px;
}

nav {
	background: #364150;
	font-weight: 400;
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 250px;
	padding-top: 100px;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	border-bottom: solid 1px #3E4B5C;
}

nav ul li:hover {
	background: #3E4B5C;
}

nav ul li a, nav ul li a:hover {
	padding: 20px 20px;
	color: #828D9B;
	text-decoration: none;
	display: block;
}


/*--- FIN NAV ---*/

/*--- DASHBOARD ---*/

.main {
	padding-left: 275px;
	padding-top: 105px;
	padding-right: 25px;
	padding-bottom: 25px;
}

.main h2 {
	padding-bottom: 20px;
	margin-top: 0;
}

a, a:hover {
	color: #555;
}

.box {
	border: 1px solid #CCC;
	background: #FAFAFA;
	padding: 10px 20px;
}

.box h3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #CCC;
}

.stats {
	margin-bottom: 50px;
}

.stats h3 {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

.stats ul {
	padding-left: 0;
}

.stats ul li:first-child {
	padding-left: 0;
}

.stats ul li {
	padding: 20px 20px;
	display: inline-block;
}

.commentaires .table {
	margin-top: 20px;
}
/*--- FIN DASHBOARD ---*/

/*---- ARTICLES ----*/
.articles {
	height: 600px;
}

textarea {
	width: 100%;
	height: 200px;
}

.articles a {
	padding-left: 30px;
}

/*---USERS---*/
.update_form, .tag_form {
	margin: 15px;
}

.update_form .form-group {
	margin-right: 10px;
}

#add_form {
	margin-top: 10px;
	margin-bottom: 10px;
}
